/* 12:25 */
body{
    background-color: #f2f2f2;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
    color: #111;
    line-height: 24px;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}
h2 {
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0; 
    /* text-align: center; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      float: right;      
  }

  a {
      display: inline;
      padding: 8px;
  }

  input[type=text], input[type=password],
  input[type=email]
   {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px ;
    display: block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
  }

    button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

     button:hover {
    background-color: #45a049;
}
  
    .signup-form {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 30px;
    position: center center;
  }