/* 12:25 */
body{
    background-color: #3aafaf;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
    color: #111;
    line-height: 24px;
}