/* 12:25 */
body{
    background-color: white;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Roboto', sans-serif;
    color: #111;
    line-height: 24px;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}
h2 {
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
    background-color: #f2f2f2;
} 
h3 {
    font-weight: 400;
    font-size: 28px;
    padding: 15px 0;
    text-align: center;
}

p {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 100px;
}

.index-intro,
.index-categories-list {
    text-align: center;
    background-color: #f2f2f2;
    padding: 18px 50px 86px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.index-categories-list div {
    display: inline-block;
    background-color: white;
    padding: 10px 10px 150px;
    margin: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      float: right;      
  }

  a {
      display: inline;
      padding: 8px;
      text-decoration: none;
  }

  input[type=text], input[type=password],
  input[type=email]
   {
    width: 50%;
    padding: 12px 20px;
    margin: 8px auto ;
    display: block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
  }

    button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 18px auto;
    display: block;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

     button:hover {
    background-color: #45a049;
}
  
    .signup-form {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 30px;
  }